<?xml version="1.0" encoding="utf-8"?>
<packages>
      <package id="7zip" />
      <package id="adobereader" />
      <package id="audacity" />
      <package id="beeftext" />
      <package id="google-drive-file-stream" />
      <package id="googlechrome" />
      <package id="itunes" />
      <package id="teamviewer" />
      <package id="ueli" />
      <package id="veracrypt" />
      <package id="vlc" />
      <package id="zoom" />
</packages>
